<div class="builder-wrapper">
  <%= render 'tooltips/tooltip_navigate' %>
  <%#= render 'tooltips/tooltip_welcome' %>
  <div class="builder-website">
    <%= render "templates/#{@website.template.slug}" %>
  </div>
  <%= render 'shared/panel' %>
  <%= render 'shared/toolbar' %>
</div>

<% content_for(:after_js) do %>
  <script>
    var toolbarItems = document.querySelectorAll('.toolbar li');
    var activeClass = 'toolbar-menu-item-active';
    var urlBox = document.getElementById('website_url');
    var submitButton = document.querySelector('#website-submit');

    $(document).ready(function(){
      $('.website_template_id input').change(function(e) {
        // $('.builder-website') replace with spinner
        var template = $(this).data('template');
        var url = "/websites/<%= @website.id %>/template";
        $.ajax({
          url: url,
          dataType: "json",
          data: { template_slug: template },
          success: function(data) {
            $('.builder-website').html(data.html);
          }
        });
      });
    });

  submitButton.addEventListener('click', function() {
    if ((toolbarItems[2].classList.contains(activeClass))&&(urlBox.value !== "")) {
      // Redirect to the user website
        window.open(`${root_url}${urlBox.value}`)
    }
  });

  </script>
<% end %>
