<div class="builder-wrapper">
  <%= render 'tooltips/tooltip_navigate' %>
  <%#= render 'tooltips/tooltip_welcome' %>
  <div class="mobile-wrapper">
    <div class="loader-container">
      <div class="loader"></div>
    </div>
    <div class="mobile-elements">
      <div class="mobile-home-button">
        <div class="square"></div>
      </div>
      <div class="speaker"></div>
      <div class="camera"></div>
      <div class="lock"></div>
      <div class="volume-up"></div>
      <div class="volume-down"></div>
    </div>
    <div class="builder-website">
      <%= render "templates/#{@website.template.slug}" %>
    </div>
  </div>
  <%= render 'shared/panel' %>
  <%= render 'shared/toolbar' %>
</div>

<% content_for(:after_js) do %>
  <script>
    var toolbarItems = document.querySelectorAll('.toolbar li');
    var styleButtons = document.querySelectorAll("input[name='website[template_id]']");
    var editInputs = document.querySelector('#edit-inputs');
    var templateDescription = document.querySelector('.description-clicked');
    var templateTitle = document.querySelector('.title-clicked');
    var formTitleField = document.querySelector("input[name='website[title]']");
    var formDescriptionField = document.querySelector("textarea[name='website[description]']");

    function editOnClick() {
    //Upon click on description, focus in the related edit box
      templateDescription.addEventListener('click', function() {
        toolbarItems[0].classList.remove(activeClass);
        toolbarItems[1].classList.add(activeClass);

        styleInputs.style.display = 'none';
        editInputs.style.display = 'block';
        publishInputs.style.display = 'none';

        var formDescriptionField = document.querySelector("textarea[name='website[description]']");
        formDescriptionField.focus();
        formDescriptionField.select();
      });

    //Upon click on title, focus in the related edit box
      templateTitle.addEventListener('click', function() {
        toolbarItems[0].classList.remove(activeClass);
        toolbarItems[1].classList.add(activeClass);

        styleInputs.style.display = 'none';
        editInputs.style.display = 'block';
        publishInputs.style.display = 'none';

        var formTitleField = document.querySelector("input[name='website[title]']");
        formTitleField.focus();
        formTitleField.select();
      });

    };

    editOnClick();

    for (var i = 1; i < styleButtons.length; i++) {
      styleButtons[i].addEventListener("click", function() {
        setTimeout(function() {
          templateDescription = document.querySelector('.description-clicked');
          templateTitle = document.querySelector('.title-clicked');
        }, 500);
        setTimeout(function() {
          editOnClick();
        }, 500);
      });
    };


    $(document).ready(function(){
      $('.website_template_id input').change(function(e) {

        // Show loader
        var loader = document.querySelector('.loader-container');
        loader.style.display = 'flex';
        var template = $(this).data('template');
        var url = "/websites/<%= @website.id %>/template";
        $.ajax({
          url: url,
          dataType: "json",
          data: { template_slug: template },
          success: function(data) {
            $('.builder-website').html(data.html);
            loader.style.display = 'none';
          }
        });
      });
    });


  </script>
<% end %>
