<% title("My dashboard") %>

<div class="websites-wrapper">
  <%= render 'shared/navbar' %>
  <div class="container">
    <div class="websites-list">
      <h1>My websites</h1>
      <div class="row">
        <% @websites.each do |website| %>
        <div class="col-sm-4">
          <div class="website">
            <h2><%= website.title %></h2>
            <ul class="list-inline list-unstyled">
              <li>
                <%= link_to "#{root_path}#{website.url}", target: '_blank' do %>
                  <i class="fa fa-eye" aria-hidden="true"></i>
                <% end %>
              </li>
              <li>
                <%= link_to edit_website_path(website) do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
              </li>
              <!-- <li>
                <%= link_to '#' do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                <% end %>
              </li> -->
            </ul>
          </div>
        </div>
        <% end %>
        <div class="col-sm-4">
          <%= button_to 'Create new', websites_path, class: 'website button' %>
        </div>
      </div>
    </div>
  </div>
</div>
