<div class="template-container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('<%= cl_image_path_or_default @website.background_image %>');" >

  <div class="container-half">
    <div class="losange">
      <div class="losange-img">
        <%= cl_image_tag_or_default(@website.profile_image) %>
      </div>
    </div>

    <div class="box">
      <h1 class="title-clicked"><%= @website.title %></h1>
      <p class="description-clicked"><%= @website.description %></p>
    </div>

    <div class="social">
          <% if (!@website.facebook_url.empty?)%>
            <%= link_to "https://facebook.com/#{@website.facebook_url}", target: :_blank do %>
              <i class="fa fa-facebook" aria-hidden="true"></i>
            <% end %>
          <% end %>

          <% if (!@website.twitter_url.empty?)%>
            <%= link_to "https://twitter.com/#{@website.twitter_url}", target: :_blank do %>
              <i class="fa fa-twitter" aria-hidden="true"></i>
            <% end %>
          <% end %>

          <% if (!@website.email.empty?)%>
            <%= link_to "mailto:#{@website.email}", target: :_blank do %>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
    </div>
  </div>
</div>
