<div class="template-flex" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= asset_path 'Background_3.jpg' %>');" >

  <div class="template-network-w">
    <%= link_to "#", target: :_blank do %>
      <i class="fa fa-facebook-official fa-2x icon-color" aria-hidden="true"></i>
    <% end %>
    <%= link_to "#", target: :_blank do %>
      <i class="fa fa-envelope-o fa-2x icon-color" aria-hidden="true"></i>
    <% end %>
    <%= link_to "#", target: :_blank do %>
      <i class="fa fa-twitter-square fa-2x icon-color" aria-hidden="true"></i>
    <% end %>
  </div>

  <%= link_to "https://github.com/dhh", target: :_blank do %>
    <%= image_tag 'Profile_Philippe.jpg', class: 'template-photo-w'%>
  <% end %>

  <div class="template-title">
    <h1 style="color: black">Hi ! I'm a master developper 🎈</h1>
  </div>


    <div class="template-lign-des">
      <div class="template-description-w" >
        <p>Websites did not need to be big, elaborate, and flashy. They just needed to get the point across, and that is exactly the purpose they served.</p>
      </div>
      <div class="template-description-w">
        <p>In 1994 the World Wide Web Consortim or W3C was established to oversee the development of web technology standards. The W3C designated HTML as the primary code language for the future of website design to be based on.  </p>
      </div>
      <div class="template-description-w">
        <p>Of course they have made advancements in the base design code such as HTML versions one, two, three, four, and XHTML.</p>
      </div>
    </div>



</div>
