<div class="panel">
  <%= simple_form_for @website, url: website_path(@website), remote: true, html: { class: 'template-form' } do |f| %>
    <!--display name by default -->
    <div id="style-inputs">
      <h3>Choose your template</h3>
      <%= f.input :template_id, label: false do %>
        <%= f.collection_radio_buttons :template_id, @templates, :id, :name, item_wrapper_tag: :span, item_wrapper_class: :radio do |b| %>
          <%= b.radio_button(data: { template: b.object.slug }) %> <%= b.object.name %>
        <% end %>
      <% end %>
    </div>

    <div id="edit-inputs">
      <h3>Edit your content</h3>
      <%= f.input :title, placeholder: "Hi ! I'm a ..." %>
      <%= f.input :description, as: :text, placeholder: 'Websites did not need to be...' %>
      <%= f.input :background_image, as: :file %>
      <%= f.input :profile_image, as: :file %>
      <%= f.input :facebook_url, placeholder: 'https://facebook.com/...'%>
      <%= f.input :twitter_url, placeholder: 'https://twitter.com/...'%>
      <%= f.input :email, placeholder: 'name@example.com'%>
    </div>

    <div id="publish-inputs">
      <h3>Choose your custom URL</h3>
      <%= f.input :url, label: false, placeholder: 'myaddress' %>
    </div>

    <%= f.button :submit, class: 'button btn-block', id: 'website-submit', value: 'Select template' %>
  <% end %>
</div>
