<% twitter_link = "https://twitter.com/home?status=Take%20a%20look%20at%20the%20website%20I%20made%20with%20Hop%3A%20#{root_url}#{@website.url}%20%23HopYourWebsite" %>
<% facebook_link = "https://www.facebook.com/sharer/sharer.php?u=#{root_url}#{@website.url}" %>

<div class="panel">
  <%= simple_form_for @website, url: @url, remote: true, html: { class: 'template-form' } do |f| %>
  <!--display name by default -->
  <div id="style-inputs">
    <h3>Choisissez l'apparence de votre site</h3>
    <p>Essayez les différentes origanisations et <span>trouvez celle qui vous correspond le mieux</span>.</p>
    <%= f.input :template_id, label: false do %>
      <%= f.collection_radio_buttons :template_id, @templates, :id, :name, item_wrapper_tag: :span, item_wrapper_class: :radio do |b| %>
        <%= b.radio_button(data: { template: asset_path("layouts/#{b.object.slug}.css") }) %> <%= b.object.name.capitalize %>
      <% end %>
    <% end %>

    <%= f.input :color_id, label: false, collection: { asset_path("layouts/green.css") => 'Vert', asset_path("layouts/blue.css") => 'Bleu', asset_path("layouts/red.css") => 'Rouge' }, value_method: :first, label_method: :last,  as: :radio_buttons %>
  </div>

  <div class="edit-banner">

  </div>

  <div id="edit-inputs">
    <%= f.input :banner_title, placeholder: "Mon beau gîte" %>
    <%= f.input :banner_punchline, as: :text, placeholder: 'Gîte accueillant dans un cadre magnifique' %>
    <%= f.input :banner_background, as: :attachinary, cloudinary: { transformation: {opacity: 50}} %>
    <h3>Saisissez votre contenu</h3>
    <p>Remplissez les champs pour <span>compléter votre site web</span>.</p>
    <%= f.input :title, placeholder: "Bienvenue en vacances" %>
    <%= f.input :description, as: :text, placeholder: 'Venez passez vos vacances dans un cadre exceptionnel.', input_html: {rows: 10} %>
    <%= f.input :background_image, as: :attachinary, cloudinary: { transformation: {opacity: 50}} %>
    <%= f.input :profile_image, as: :attachinary %>
    <%= f.input :facebook_url, placeholder: 'monbeaugite', label: 'Nom de la page Facebook' %>
    <p>Ceci correspond à ce qui est après <span>https://facebook.com/</span> dans l'URL de votre page.</p>
    <%= f.input :twitter_url, placeholder: '@monbeaugite', label: 'Nom du compte  Twitter' %>
    <p>Ajoutez votre <span>@nom</span> Twitter.</p>
    <%= f.input :email, placeholder: 'gite@riberac-tourisme.com' %>
  </div>

  <div id="publish-inputs">
    <h3>Choisissez votre URL</h3>
    <p>Cette URL apparaîtra au format<br/>http://<span>mon-beau-gite</span>.<%= ENV['APPLICATION_DOMAIN'] %>.</p>
    <%= f.input :url, label: false, placeholder: 'mon-beau-gite' %>
  </div>

  <%= f.button :submit, class: 'button btn-block', id: 'website-submit', value: 'Selectionnez l\'agencement' %>

  <% end %>

  <div class="result">
    <p>Bien joué, votre site est <span>en ligne</span>! Partagez le sur les réseaux sociaux.</p>
    <%= link_to 'Voir votre site', '#', target: '_blank', class: 'link button' %>
    <%= link_to facebook_link, target: '_blank', class: 'link button facebook-link' do %>
    <i class="fa fa-facebook" aria-hidden="true"></i> Partager sur Facebook
    <% end %>
    <%= link_to twitter_link, target: '_blank', class: 'link button twitter-link' do %>
    <i class="fa fa-twitter" aria-hidden="true"></i> Partager sur Twitter
    <% end %>
  </div>
</div>
