<script>
  let intervalID
  function changeCouleur() {
    intervalID = setInterval(changeLogo, 1000);
  }
  function changeLogo() {
    let elem = document.getElementById("logo-style");
    let elm = document.getElementById("logo-edit");

    if (elem.src == "<%= image_url 'cube-style-black.png' %>" ) {
      elem.src = "<%= image_url 'cube-style-primary.png' %>"  ;
    } else if (elem.src == "<%= image_url 'cube-style-primary.png' %>") {
      elem.src = "<%= image_url 'cube-style-secondary.png' %>" ;
    } else {
      elem.src = "<%= image_url 'cube-style-black.png' %>";
    }
  }

  function stopTextColor() {
  clearInterval(intervalID);
  }
</script>

<div class="container process-title">
  <h2>How it works</h2>
</div>

<div class="process-wrapper">
  <div class="container">
    <div class="process-section">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="process-card">
            <p class="step">1</p>
            <%= link_to image_tag("cube-style-black.png", class: "process-logo-resize", id: "logo-style"), websites_path, method: :post %>
            <h3>Choose a style</h3>
            <%= image_tag "arrow-primary.png", class: 'process-card-arrow hidden-xs' %>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="process-card">
            <p class="step">2</p>
            <%= image_tag "cube-edit.png", class: 'process-logo-resize' %>
            <h3>Edit your content</h3>
            <%= image_tag "arrow-primary.png", class: 'process-card-arrow hidden-xs' %>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="process-card">
            <p class="step">3</p>
            <%= image_tag "cube-url.png", class: 'process-logo-resize' %>
            <h3>Add an address</h3>
            <%= image_tag "arrow-primary.png", class: 'process-card-arrow hidden-xs' %>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="process-card">
            <p class="step">4</p>
            <%= image_tag "cube-website.png", class: 'process-logo-resize' %>
            <h3>Have your website</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
