<% title("Hébergeurs du pays ribéracquois bienvenue !") %>

<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<%= render 'shared/process' %>


<div class="container cards-title">
  <h2>Besoin d'aide? Des questions?</h2>
</div>

<div class="cards-wrapper">
  <div class="container" style="display: flex; align-items: center; justify-content: center; height: 100%;">
    <h2 style="padding: 0 50px;">L'office de tourisme se tient à votre disposition pour vous accompagner dans la création de votre site.</h2>
    <%= image_tag 'office-de-tourisme.jpg', size: '300x300' %>
  </div>
</div>

<%= render 'shared/footer' %>
