<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<%= render 'shared/process' %>


<div class="container cards-title">
  <h2>Need inspiration?</h2>
</div>

<div class="cards-wrapper">
  <div class="container">
    <div class="cards-section">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-background" style="background-image: url(<%= image_path 'template-1.png' %>);">
            </div>
            <h3>John's pro website</h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-background" style="background-image: url(<%= image_path 'template-2.png' %>);">
            </div>
            <h3>John's pro website</h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-background" style="background-image: url(<%= image_path 'template-3.png' %>);">
            </div>
            <h3>John's pro website</h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-background card-background-add">
              <span>+</span>
            </div>
            <h3>Add yours!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
