<%= render 'shared/banner' %>

<h1 style="text-align: center">Need inspiration ?</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'template1.png' %>);">
        <h3>PRO</h3>
      </div>
      <h4>John's pro website</h4>
    </div>
    <div class="col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'template2.png' %>);">
        <h3>PROJECT</h3>
      </div>
      <h4>Jacqueline's website</h4>
    </div>
    <div class="col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'template3.png' %>);">
        <h3>PEOPLE</h3>
      </div>
      <h4>Jacqueline's website</h4>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>