<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <script>
    let intervalID;
    function changeCouleur() {
      intervalID = setInterval(changeLogo, 1000);
    }

    function changeLogo() {
      let elem = document.getElementById("logo-style");

      if (elem.source == 'Logo_Style_black.png') {
        elem.source = 'Logo_Style_primary';
      } else {
        elem.style.color = 'Logo_Style_black.png';
      }
    }
  </script>
  </head>
  <body onload="changeCouleur()">
    <%#= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
