<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The easiest way to create your online presence for free, in few minutes.">
    <meta property="og:title" content="Hop your website without technical skills">
    <meta property="og:image" content="facebook-card.jpg">
    <meta property="og:description" content="Hop is the easiest way to create your online presence for free, in few minutes.">
    <meta property="og:site_name" content="Le Wagon"/>
    <title>Hop | Hop | Build your website without technical skills</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body onload="changeCouleur()">

    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
</html>
