<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <title>Construisez votre site web</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="" id="structure_sheet">
    <link rel="stylesheet" href="" id="style_sheet">
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
